autopep8==1.6.0
black==21.12b0
click==8.0.3
colorama==0.4.4
Flask==2.0.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
keyboard==0.13.5
mariadb==1.0.9
MarkupSafe==2.0.1
mypy-extensions==0.4.3
mysql-connector-python==8.0.27
pathspec==0.9.0
platformdirs==2.4.1
protobuf==3.19.1
pycodestyle==2.8.0
toml==0.10.2
tomli==1.2.3
typing-extensions==4.0.1
Werkzeug==2.0.2
